<header class="pt-10">
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div id="logo" class="w-1/2 tablet:w-1/3 p-4">
                <img src="assets/img/logo.svg" alt="Emely Ragazi" />
            </div>

            <div
                class="w-1/2 text-right block tablet:hidden z-10 relative"
                id="mobilenav"
            >
                <div class="hamburger hamburger--squeeze js-hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>

            <div class="w-full hidden desktop:block tablet:w-2/3 p-4">
                <ul class="list-reset flex justify-end">
                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#"
                        >
                            início
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#"
                        >
                            Nossos serviços
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#"
                        >
                            Quem somos
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-blue-light font-bold no-underline px-4"
                            href="#"
                        >
                            Solicite um orçamento
                        </a>
                    </li>
                </ul>
            </div>

            <div
                class="block desktop:hidden navmb bg-white fixed h-full w-full pin"
            >
                <ul class="list-reset py-20 text-center ">
                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#"
                        >
                            início
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#"
                        >
                            Nossos serviços
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#"
                        >
                            Quem somos
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-blue-light font-bold no-underline px-4"
                            href="#"
                        >
                            Solicite um orçamento
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-wrap pt-10 -mx-4">
            <div class="w-full tablet:w-1/2 p-4">
                <h1
                    class="text-white text-40 desktop:text-60 mb-6 leading-none font-bold"
                >
                    Nossos Idosos <br />
                    merecem um <br />
                    cuidado especial
                </h1>

                <p class="text-white text-20 leading-tight font-light">
                    Oferecemos serviços especializados no cuidado
                    <br class="hidden tablet:block" />
                    de idosos, com profissionais capacitados e
                    <br />dedicados.
                </p>

                <a
                    class="bg-blue-dark w-full tablet:w-auto shadow-lg text-white uppercase mt-5 py-5 px-10 no-underline font-bolds inline-block rounded-full"
                    href="#"
                >
                    Solicite um Orçamento
                </a>
            </div>

            <div class="w-full tablet:w-1/2 p-4">
                <img
                    class="-mb-12 shadow-lg"
                    src="assets/img/banner-top.png"
                    alt="Nossos idosos merecem um cuidado especial"
                />
            </div>
        </div>
    </div>
</header>
